.cl-block{
    display: grid;
    grid-row-gap: 2.3em;
    grid-auto-flow: columns;
    grid-column-gap: 66px;
    grid-template-columns: repeat(auto-fill, 270px);
    background: var(--background);
    padding: 3em 0;
    justify-content: center; 
}

/* .region-block{
    
} */