.input-box{
    display: flex;;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, .5);
    background-color: white;
    align-items: center;
    padding: 0 2rem;
    border-radius: 5px;
    width: 100%;
}

input {
    width: 100%;
    height: 48px;
    line-height: 48px;
    padding: 0 2rem;
    font-size: 12px;
    border: none;
    flex:1;
    outline: 0;
}

input::-webkit-input-placeholder{
    color: #C4C4C4;
}