.dark-mode{
    cursor: pointer;
}
.header-box{
    background-color: var(--white);
    margin-bottom: 1em;
    box-shadow: 0 2px 4px 0 rgb(0,0,0,.06);
}

.content{
    display: flex;
    justify-content: space-between;
    height: 58px; 
    align-items: center;       
}

h1{
    font-size: 14px;
}

.moon{
    margin-right: 8px;
    transform: rotate(-25deg);
}

.header-p{
    font-size: 12px;
    font-weight: bold;
}

.dark-mode{
    cursor: pointer;
}
a{
    text-decoration: none;
    color: var(--black);
}


@media screen and (min-width:768px){
    .header-box{
        margin-bottom: 2em;
    }
    h1{
        font-size: 22px;
    }
    p{
        font-size: 16px;
    }
}