.card-box{
    cursor: pointer;
    text-align: left;
    border-radius: 5px;  
    margin: 1em;
    box-shadow: 0 0 7px 2px rgba(0,0,0,.03);
}
/* .card-box:hover{
    background-color: red;
} */

img{
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.details{
    padding: 1.5em;
    border: 1px solid transparent;
    border-top: none;
    transition: .3s border;
    background: var(--white);
}

h2{
    margin: 0;
    margin-bottom: 1rem;
    font-size: 18px;
    font-weight: 700;
}

p{
    font-size: .9em;
    margin-bottom: .5rem;
}
