.languages::after{
    content:',';
}

span{
    margin-right: 10px;
}

.img-country-selected{
    width: 100%;
    margin-bottom: 2em;
    margin-top: 2em;
}

.grid{
    display: grid;
    grid-row-gap: 1em;
    margin-bottom: 1em;
}

.border-box{
    margin-top: 2em;
}

.border-item{
    padding: .5em 2em;
    border-radius:5px;
    margin-right: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    display: inline-flex;
    margin-bottom: 5px;
    background: var(--white);
}

@media screen and (min-width: 1024px){
    .country-selected-box{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 120px;
    }
    .grid{
        grid-template-columns: 1fr 1fr;
    }
}